<html>
  <head>
    <meta charset="utf-8">
    <title>电视剧热度榜</title>
    <!-- This css style template copies from Xiao Jia (xiao-jia.com) -->
    <link href="static/css/theme.css" type="text/css" rel="stylesheet"/>
    <link href="static/css/rank.css" type="text/css" rel="stylesheet" />
  </head>
  <body>
    <div class="box">
      <div class="rank10 ranktree" style="margin: 0 auto;">
        <div class="rh">
          <h3>&nbsp;&nbsp;&nbsp;>>&nbsp;&nbsp;&nbsp;电视剧</h3>
        </div>
        <div>
          <ol>
            {% for drama in drama_rank %}
            <li>{{ drama }}</li>
            {% endfor %}
          </ol>
        </div>
      </div>
    </div>
  </body>
</html>
