<html>
  <head>
    <meta charset="utf-8">
    <title>ADAPT娱乐指数榜</title>
    <!-- This css style template copies from Xiao Jia (xiao-jia.com) -->
    <link href="static/css/theme.css" type="text/css" rel="stylesheet"/>
    <link href="static/css/rank.css" type="text/css" rel="stylesheet" />
  </head>
  <body>

    <div class="box">
     <a href="/rank?date={{ pre }}">前一天</a>
     <a href="/rank?date={{ next }}">后一天</a>

      <h2 style="text-align:center">ADAPT娱乐指数榜</h2>
      <h3 style="text-align:center">{{ date }}</h3>
      <div class="rank10 ranktree" style="float: left;">
        <div class="rh">
          <h3>>> 电视剧</h3>
        </div>
        <div class="rb">
          {% if drama_rank %}
          <ol>
            {% for i in range(10) %}
            <li>{{ drama_rank[i] }}</li>
            {% endfor %}
          </ol>
          {% else %}
          <ul style="list-style-type:none;">
            {% if istoday %}
            <li>今日排名稍后奉上</li>
            {% else %}
            <li>无当日数据</li>
            {% endif %}
          </ul>
          {% endif %}
        </div>
        <div class="rf">
          {% if drama_rank %}
            <a href="/rank/drama?date={{ date }}">完整榜单</a>
          {% endif %}
        </div>
      </div>

      <div class="rank10 ranktree" style="float: left;">
        <div class="rh">
          <h3>>> 综艺</h3>
        </div>
        <div class="rb">
          {% if variety_rank %}
          <ol>
            {% for i in range(10) %}
            <li>{{ variety_rank[i] }}</li>
            {% endfor %}
          </ol>
          {% else %}
          <ul style="list-style-type:none;">
            {% if istoday %}
            <li>今日排名稍后奉上</li>
            {% else %}
            <li>无当日数据</li>
            {% endif %}
          </ul>
          {% endif %}
        </div>
        <div class="rf">
          {% if variety_rank %}
            <a href="/rank/variety?date={{ date }}">完整榜单</a>
          {% endif %}
        </div>
      </div>

      <div class="rank10 ranktree" style="float: left;">
        <div class="rh">
          <h3>>> 电视台</h3>
        </div>
        <div class="rb">
          {% if tv_rank %}
          <ol>
            {% for i in range(10) %}
            <li>{{ tv_rank[i] }}</li>
            {% endfor %}
          </ol>
          {% else %}
          <ul style="list-style-type:none;">
            {% if istoday %}
            <li>今日排名稍后奉上</li>
            {% else %}
            <li>无当日数据</li>
            {% endif %}
          </ul>
          {% endif %}
        </div>
        <div class="rf">
          {% if tv_rank %}
            <a href="/rank/tv?date={{ date }}">完整榜单</a>
          {% endif %}
        </div>
      </div>
    

    </div>

  </body>
</html>